/* --------------------------------------------
    Typography 
 ---------------------------------------------- */
body {
    font-family: $body-font;
    color: $dark;
    margin: 0px;
    padding: 0px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font;
    margin: 0px;
    line-height: 120%;
    font-weight: $bold;
}

h1 {
    font-size: 2.027rem;
}


h2 {
    font-size: 1.802rem;
}


h3 {
    font-size: 1.602rem;
}



h4 {
    font-size: 1.424rem;
}


h5 {
    font-size: 1.266rem;
}

h6 {
    font-size: 1rem;
}


a {
    line-height: 100%;
    text-decoration: none;
    cursor: pointer;

}


p {
    display: block;
    font-size: 1rem;
    line-height: 150%;

}


ul {
    margin: 0px;
    padding: 0px;
}
span{
    line-height: 100%;
}