/* --------------------------------------------
    Typography 
 ---------------------------------------------- */
body {
    font-family: $body-font;
    color: $dark;
    margin: 0px;
    padding: 0px;
}


h1,
h2,
h3,
h4,
h5,
h6,
span,
ul,
li,
a {
    font-family: $heading-font;
    margin: 0px;
    line-height: 120%;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: $bold;
}

h1 {
    font-size: 2.986rem;
}


h2 {
    font-size: 2.488rem;
}


h3 {
    font-size: 2.074rem;
}



h4 {
    font-size: 1.728rem;
}


h5 {
    font-size: 1.44rem;
}

h6 {
    font-size: 1.2rem;
}


a {
    font-size: 1rem;
    display: blocks;
    line-height: 100%;
    text-decoration: none;
    cursor: pointer;
    color: $accent;

}


p {
    line-height: 1.5;
    text-align: left;
    margin-top: 1em;
    margin-bottom: 1em;
    letter-spacing: 0.5px;
}


ul {
    margin: 0px;
    padding: 0px;
}

span {
    line-height: 100%;
}