@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

$font-mulish: 'Mulish', sans-serif;
$primary: #1F2732;
$secondary: #A8C28C;
$accent: #FF497C;
$success: #2ECC71;
$info: #3498db;
$warning: #f39c12;
$danger: #e74c3c;
$light: #ffffff;
$dark: #42545e !important;


// Alternate Section Background Colors for Smooth Scrolling
$section-bg-alt-1: #ECEFF1;
$section-bg-alt-2: #FAFAFA;
$section-bg-alt-3: #F5F5F5;
$section-bg-alt-4: #EBEBEB;



// Custom Typography

// Font Families
$heading-font: $font-mulish;
$body-font: $font-mulish;

// Font Weights
$semi: 600;
$regular: 400;
$bold: 700;
$bolder: 900;
$small-font: 0.875rem;
$smaller-font: 0.75rem;

$shadow1: rgba(149, 157, 165, 0.2) 0px 8px 24px;

$shadow2: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
$border1: 1px solid rgba(0, 0, 0, 0.09);