@import "./componets/button";
@import "./componets/cta";
@import "./componets/cards/service-card";
@import "./componets/counter-area";
@import "./componets/testimonials";
@import "./componets/faqs";
@import "./componets/page-hero";
@import "./componets/process-area";
@import "./componets/about-section";
@import "./componets/stat";
@import "./componets/cards/team-card";
@import "./componets/cards/work-card";