.contact-area{
    .contact-form{

    }
    .contact-info{
        .contact-info-item{
            display: flex;
            flex-direction: row;
            align-items: start;
            padding: 20px;
            .contact-icon{
             background-color: $primary;
             color: $light;
             i{
                padding: 16px;
                font-size: 1.5rem;
             }
            }
            .contact-text{
                margin-left: 20px;
             span{
                font-size: 1.2rem;
                display: block;
                margin-bottom: 8px;

                }
               a{
                display: block;
                font-size: $small-font;
               }
            
        }
    }
}
}