.btn-cta {
    background-color: $accent;
    color: $light;
    font-size: $small-font;
    text-transform: uppercase;
    font-weight: $bold;
    padding: 10px 20px;
    display: inline-block;
    transition: all 0.3s;
    border: 0;
    border-radius: 0;

    &:hover {
        background-color: $light;
        color: $dark;
    }

}

.btn-cta-w100 {
    width: 100%;
    text-align: center;
    background-color: $accent;
    font-size: $small-font;
    color: $light;
    text-transform: uppercase;
    font-weight: $bold;
    padding: 10px 20px;
    display: inline-block;
    transition: all 0.3s;
    border-radius: 0;

    &:hover {
        background-color: $primary;
        color: $light;
    }

}



.btn-primary {
    background-color: $primary;
    color: $light;
    font-size: $small-font;
    text-transform: uppercase;
    font-weight: $bold;
    padding: 10px 20px;
    display: inline-block;
    transition: all 0.3s;
    border: 0;
    border-radius: 0;

    &:hover {
        background-color: $accent;
        color: $light;
    }

}



.btn-outline {
    background-color: transparent;
    color: $light;
    font-size: $small-font;
    border: 2px solid $light;
    text-transform: uppercase;
    font-weight: $bold;
    padding: 10px 20px;
    display: inline-block;
    transition: all 0.3s;
    border-radius: 0;

    &:hover {
        background-color: $primary;
        color: $light;
        border: 2px solid $primary;
    }
}