.faq_area {
    .accordion-item {
        margin-bottom: 10px;
        border: 0;
        border-radius: 0;

        .accordion-header {
            button {
                border: 0;
                box-shadow: none;
                border-radius: 0;
                background-color: $secondary;
                color: $light;


                &::after {
                    // background-size: 10px;
                    // color: $light;
                    background-image: url(/icons/chevron-down.svg);

                }

            }
        }

        .accordion-body {}
    }

    .faq_img {}
}