.process-area {
    background-color: $primary;

    .process-item {
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 20px;
        color: $light;

        .process-item-img {
            border-radius: 50%;
            height: 150px;
            width: 150px;
            margin-bottom: 20px;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        p {
            text-align: center;
            padding: 0px 40px;
        }
    }
}