.work-card{
    text-align: center;
    .work-img{
    height: 300px;
    width: 100%;
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 5px;
    }
    }
   h3{
    margin-top: 10px;
   }
   span{
    font-size: 1rem;
    font-weight: $bold;
    color: $secondary;
   }
}