.header-style1 {


    .top-bar {
        background-color: $primary;
        color: $light;
        padding: 8px 0px;

        li {
            list-style: none;
            display: inline-block;
            margin-left: 10px;
        }

        .top-bar-info {
            a {
                color: $light;

                i {
                    margin-right: 4px;
                }
            }
        }

        .top-social-icon {
            text-align: end;

            a {
                color: $light;
            }
        }

    }
}